{% extends "app/base.html" %}

{% block nav %}
<style>
.currency2{
    padding-top: 10px;
    display: block;
}
.currency-container{
    top: -800px;
    left: 1200px;
}

 .parent {
    position: relative;
    width: 300px;
    height: 300px;
    padding: 20px;
    perspective: 1000px;
  }

  .card {
    position: absolute;
    top: 15px;
    right: -1500px;
    padding-top: 27px;
    border-radius: 10px;
    transform-style: preserve-3d;
    background-image: radial-gradient(#ece70a 2px, transparent 2px), radial-gradient(#0c307e 2px, transparent 2px);
    background-size: 23px 23px;
    background-position: 0 0, 11px 11px;
    background-color: #f0f0f0;
    width: 146%;
    transition: all 0.5s ease-in-out;
  }
.card:hover {
  background-position: -110.5px 110.5px, -99px 99px;
  transform: rotate3d(0.5, 1, 0, 30deg);
}

.content-box {
  background: linear-gradient(135deg, rgba(7, 39, 192, 100) 0%, rgb(252, 228, 3) 100%);
  border-radius: 0px 100px 10px 10px;
  width: 90%;
  box-shadow: rgba(142, 142, 142, 0.686) 0px 20px 50px -10px;
  transition: all 0.5s ease-in-out;
  padding: 60px 25px 25px 25px;
  transform-style: preserve-3d;
}

.content-box .card-title {
  display: inline-block;
  color: white;
  font-size: 25px;
  font-weight: 900;
  transition: all 0.5s ease-in-out;
  transform: translate3d(0px, 0px, 60px);
}

.content-box .card-title:hover {
  transform: translate3d(0px, 0px, 50px);
}

.content-box .card-content {
  margin-top: 10px;
  font-size: 12px;
  font-weight: 700;
  color: #f2f2f2;
  transition: all 0.5s ease-in-out;
  transform: translate3d(0px, 0px, 30px);
}

.content-box .card-content:hover {
  transform: translate3d(0px, 0px, 50px);
}

.content-box .see-more {
  cursor: pointer;
  margin-top: 1rem;
  display: inline-block;
  font-weight: 900;
  font-size: 11px;
  text-transform: uppercase;
  color: #ededed;
  border-left: 2px solid #ededed;
  border-radius: 0 0 0 1rem;
  background: linear-gradient(245deg, rgba(0, 251, 255, 0) 0%, rgba(0,168,255,1) 100%);
  padding: 0.7rem;
  transition: all 0.5s ease-in-out;
  transform: translate3d(0px, 0px, 20px);
}

.content-box .see-more:hover {
  transform: translate3d(0px, 0px, 50px);
}

.date-box {
  position: absolute;
  top: 30px;
  left: 25px;
  height: 60px;
  width: 60px;
  background: linear-gradient(45deg, rgb(255, 255, 255) 0%, #d8d8d8 100%);
  border-left: 2px solid rgb(7, 185, 255);
  border-radius: 10px;
  padding: 10px;
  transform: translate3d(0px, 0px, 80px);
}

.date-box span {
  display: block;
  text-align: center;
}

.date-box .month {
  color: #052e44;
  font-size: 11px;
  font-weight: 700;
}

.date-box .date {
  font-size: 20px;
  font-weight: 900;
  color: rgb(4, 193, 250);
}


</style>

{% if user.is_authenticated %}
<div class="parent">
    <div class="card">
        <div class="content-box">
            <span class="card-title">Втрати підарів</span>
            <p class="card-content">
                {% for item in data %}
            <ul>
                {% for title, quantity in item.items %}
                <li>{{ title }}: {{ quantity }}</li>
                {% endfor %}
            </ul>
            </p>
            <a href="https://index.minfin.com.ua/ua/russian-invading/casualties/" class="see-more">See More</a>
        </div>
        {% endfor %}
    </div>
</div>
{% endif %}
 <div class="container">
    <div class="buttons">
      {% if user.is_authenticated %}
      <a href="{% url 'file_app:files' %}"><button class="signup-btn">Files</button></a>
      <a href="/"><button class="signup-btn">Notes</button></a>
      <a href="{% url 'addressbook:home' %}"><button class="signup-btn">Contacts</button></a>
      <a href="{% url 'file_app:upload' %}"><button class="signup-btn">Upload</button></a>
      <a href="{% url 'users:logout' %}"><button class="signup-btn">Logout</button></a>
      {% else %}
      <div class="col text-end currency-container">
        {% for date, currencies in exchange_rates.items %}
          {% for currency, rate in currencies.items %}
            {% if currency == "USD" %}
              <span class="currency2">$: {{ rate.purchase }} / {{ rate.sale }}</span>
            {% elif currency == "EUR" %}
              <span class="currency2">€: {{ rate.purchase }} / {{ rate.sale }}</span>
            {% endif %}
          {% endfor %}
        {% endfor %}
        <span class="currency2">₽: WTF?</span>
      </div>
      <a href="{% url 'users:login' %}"><button class="login-btn">Login</button></a>
      <a href="{% url 'users:register' %}"><button class="signup-btn">SignUp</button></a>
      {% endif %}
    </div>
 </div>
{% endblock %}
