{% extends "app/base.html" %}

{% block content %}
<div class="d-flex justify-content-between">
    <h1 style="color: white;">Your Files</h1>
    <a href="/"><button class="signup-btn">Home</button></a>
</div>

<div class="row">
    {% for pic in pictures %}
    <div class="col-md-4">
        <div class="card" style="width: 18rem;">
            <img src="{{media}}{{pic.path}}" class="card-img-top" alt="pic">
            <div class="card-body">
                <p class="card-text">{{pic.description}}</p>
                <a href="{% url 'app:edit' pic.id %}" class="btn btn-outline-primary">Edit</a>
                <a href="{% url 'app:remove' pic.id %}" class="btn btn-outline-danger">Delete</a>
                <a href="{% url 'app:remove' pic.id %}" class="btn btn-outline-success">Download</a>
            </div>
        </div>
    </div>
    {% endfor %}
</div>
{% endblock %}
