{% extends "app/base.html" %}

{% block content %}
<style>
    body {
        font-family: Arial, sans-serif;
        max-width: 800px;
        margin: 0 auto;
    }

    h1 {
        text-align: center;
    }

    form {
        text-align: center;
    }

    label {
        display: block;
        margin-bottom: 5px;
    }

    input[type="submit"] {
        margin-top: 10px;
    }

    div.news-container {
        margin-top: 20px;
        border: 1px solid #ccc;
        padding: 10px;
    }

    div.news-item {
        margin-bottom: 10px;
    }

    div.news-item h2 {
        margin-top: 0;
    }
    .signup-btn {
    margin: 10px;
    padding: 10px 20px;
    font-size: 18px;
    background-color: #ffffff;
    color: #111112;
    border: none;
    border-radius: 15px;
    cursor: pointer;
    margin-left: 930px;
    margin-top: -35px;
}
</style>
<head>
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <title>Personal News</title>
    <link href="https://cdn.jsdelivr.net/npm/bootstrap@5.3.0/dist/css/bootstrap.min.css"
          rel="stylesheet"
          integrity="sha384-9ndCyUaIbzAi2FUVXJi0CjmCapSmO7SnpJef0486qhLnuZ2cdeRhO02iuK6FUUVM"
          crossorigin="anonymous">
</head>
<body>
<script src="https://cdn.jsdelivr.net/npm/bootstrap@5.3.0/dist/js/bootstrap.bundle.min.js"
        integrity="sha384-geWF76RCwLtnZ8qwWowPQNguL3RmwHVBC9FhGdlKrxdiJJigb/j/68SIy3Te4Bkz"
        crossorigin="anonymous"></script>
<div class="category-container" style="color: #f1f1f1"><h1
        id="category-container"></h1><a href="/"><button class="signup-btn">Home</button></a></div>
<div class="container"
     style="height: 800px; overflow-y: auto; width: 800px; padding-right: 24px; margin-left: 600px">
    <div class="row">
        {% for elem in news %}
        <div class="w-100 card mb-3">
            <div class="row g-0">
                <div class="col-md-4">
                    <img src="{{elem.image}}" class="img-fluid rounded-start">
                </div>
                <div class="col-md-8">
                    <div class="card-body">
                        <h5 class="card-title">{{elem.title}}</h5>
                        <p class="card-text">{{elem.description}}</p>
                        <p class="card-text"><small
                                class="text-body-secondary">Повний текст
                            знаходиться за <a
                                    href="{{elem.url}}"
                                    class="link-underline-light">посиланням.</a></small>
                        </p>
                    </div>
                </div>
            </div>
        </div>
        {% endfor %}

        <script>
            const currentURL = window.location.href;

            const urlParts = currentURL.split("/");

            const lastPartOfURL = urlParts[urlParts.length - 2];

            const dropdownContent = document.querySelector("#category-container");
            dropdownContent.textContent = `News ${lastPartOfURL}`;

            const newsForm = document.getElementById("news-form");

            newsForm.addEventListener("submit", function (event) {
                event.preventDefault();
                const selectedCategory = newsForm.category.value;
                showNews(selectedCategory);
            });

            function showNews(category) {
                const newsData = {
                    World: [
                        {
                            title: "Новина зі світу 1",
                            description: "Текст новини 1...",
                            url: "#"
                        },
                        {
                            title: "Новина зі світу 2",
                            description: "Текст новини 2...",
                            url: "#"
                        }
                    ],
                    Nation: [
                        {
                            title: "Новина з країни 1",
                            description: "Текст новини 1...",
                            url: "#"
                        },
                        {
                            title: "Новина з країни 2",
                            description: "Текст новини 2...",
                            url: "#"
                        }
                    ],
                    Business: [
                        {
                            title: "Новина про бізнес 1",
                            description: "Текст новини 1...",
                            url: "#"
                        },
                        {
                            title: "Новина про бізнес 2",
                            description: "Текст новини 2...",
                            url: "#"
                        }
                    ],
                    Technology: [
                        {
                            title: "Новина про технології 1",
                            description: "Текст новини 1...",
                            url: "#"
                        },
                        {
                            title: "Новина про технології 2",
                            description: "Текст новини 2...",
                            url: "#"
                        }
                    ],
                    Entertainment: [
                        {
                            title: "Новина зі світу розваг 1",
                            description: "Текст новини 1...",
                            url: "#"
                        },
                        {
                            title: "Новина зі світу розваг 2",
                            description: "Текст новини 2...",
                            url: "#"
                        }
                    ],
                    Sport: [
                        {
                            title: "Новина про спорт 1",
                            description: "Текст новини 1...",
                            url: "#"
                        },
                        {
                            title: "Новина про спорт 2",
                            description: "Текст новини 2...",
                            url: "#"
                        }
                    ],
                    Science: [
                        {
                            title: "Новина зі світу науки 1",
                            description: "Текст новини 1...",
                            url: "#"
                        },
                        {
                            title: "Новина зі світу науки 2",
                            description: "Текст новини 2...",
                            url: "#"
                        }
                    ],
                    Health: [
                        {
                            title: "Новина про здоров'я 1",
                            description: "Текст новини 1...",
                            url: "#"
                        },
                        {
                            title: "Новина про здоров'я 2",
                            description: "Текст новини 2...",
                            url: "#"
                        }
                    ],
                };

                const newsContainer = document.getElementById("news-container");
                const selectedNews = newsData[category];

                if (!selectedNews) {
                    newsContainer.innerHTML = "<p>Немає новин для обраної категорії.</p>";
                    return;
                }

                let newsHTML = "";
                selectedNews.forEach(newsItem => {
                    newsHTML += `
                    <div class="w-100 card mb-3">
                        <div class="row g-0">
                            <div class="col-md-4">
                                <img src="${newsItem.image}" class="img-fluid rounded-start">
                            </div>
                            <div class="col-md-8">
                                <div class="card-body">
                                    <h5 class="card-title">${newsItem.title}</h5>
                                    <p class="card-text">${newsItem.description}</p>
                                    <p class="card-text"><small class="text-body-secondary">Повний текст знаходиться за <a
                                            href="${newsItem.url}" class="link-underline-light">посиланням.</a></small></p>
                                </div>
                            </div>
                        </div>
                    </div>
                `;
                });
                newsContainer.innerHTML = newsHTML;
            }


        </script>

</body>

{% endblock %}
