<!DOCTYPE html>
<html>
<head>
    <title>Втрати підарів</title>
</head>
<body>
    <table>
        {% for item in data %}
        <tr>
            <td>{{ item.date | date:"d.m.Y" }}</td>
            <td>
                <ul>
                    {% for title, quantity in item.items %}
                    <li>{{ title }}: {{ quantity }}</li>
                    {% endfor %}
                </ul>
            </td>
            <!-- Додайте інші дані стовпців, якщо потрібно -->
        </tr>
        {% endfor %}
    </table>
</body>
</html>
