{% extends "app/base.html" %}

{% block content %}
<style>
    body {
        background-color: #f1f1f1;
    }

    .centered-container {
        display: flex;
        flex-direction: column;
        align-items: center;
        justify-content: center;
        height: 100vh;
    }

    .form-container {
        background-color: #ccc;
        padding: 20px;
        border-radius: 8px;
        width: 400px;
        margin-top: -250px;
    }

    .form-container h2 {
        color: black;
        margin-bottom: 20px;
    }

    .centered-container form {
        color: black;
        display: flex;
        flex-direction: column;
        align-items: center;
    }

    .centered-container form input {
        width: 300px;
        padding: 10px;
        margin-bottom: 10px;
        border: none;
        border-radius: 4px;
    }

    .centered-container form button {
        padding: 10px 20px;
        background-color: #4CAF50;
        border: none;
        border-radius: 4px;
        color: white;
        cursor: pointer;
    }

    .centered-container form button:hover {
        background-color: #45a049;
    }
</style>
<div class="centered-container">
    <div class="form-container">
        <h2>Enter new password</h2>
        <form method="post">
            {% csrf_token %}
            {{ form.as_p }}
            <button type="submit">Save</button>
        </form>
    </div>
</div>
{% endblock %}
