<!doctype html>
<html lang="en">

<head>
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <title>Personal Assistant</title>
    <link href="https://cdn.jsdelivr.net/npm/bootstrap@5.3.0/dist/css/bootstrap.min.css" rel="stylesheet"
        integrity="sha384-9ndCyUaIbzAi2FUVXJi0CjmCapSmO7SnpJef0486qhLnuZ2cdeRhO02iuK6FUUVM" crossorigin="anonymous">

</head>

<body>
    <script src="https://cdn.jsdelivr.net/npm/bootstrap@5.3.0/dist/js/bootstrap.bundle.min.js"
        integrity="sha384-geWF76RCwLtnZ8qwWowPQNguL3RmwHVBC9FhGdlKrxdiJJigb/j/68SIy3Te4Bkz"
        crossorigin="anonymous"></script>
    <nav class="ps-3 pe-3 navbar navbar-expand-lg bg-body-tertiary">
        <div class="collapse navbar-collapse" id="navbarSupportedContent">
            <ul class="navbar-nav me-auto mb-2 mb-lg-0">
                <li class="nav-item">
                    <a class="nav-link active" aria-current="page" href="{% url 'file_app:files' %}">Files</a>
                </li>
                <li class="nav-item">
                    <a class="nav-link active" aria-current="page" href="{% url 'file_app:upload' %}">Add file</a>
                </li>
                <li class="nav-item dropdown">
                    <a class="nav-link dropdown-toggle" href="#" role="button" data-bs-toggle="dropdown" aria-expanded="false">
                        Category
                    </a>
                    <ul class="dropdown-menu">
                        <li><a class="dropdown-item" href="{% url 'file_app:image' %}">Images</a></li>
                        <li><a class="dropdown-item" href="{% url 'file_app:audio' %}">Audio</a></li>
                        <li><a class="dropdown-item" href="{% url 'file_app:video' %}">Video</a></li>
                        <li><a class="dropdown-item" href="{% url 'file_app:documents' %}">Documents</a></li>
                        <li><a class="dropdown-item" href="{% url 'file_app:other_files' %}">Other</a></li>
                    </ul>
                </li>
            </ul>
            <form method="post" class="d-flex" role="search" action="{% url 'file_app:search' %}">
                {% csrf_token %}
                <input class="form-control me-2" type="text" name="keyword" type="search" placeholder="Search"
                    aria-label="Search">
                <button class="btn btn-outline-success" type="submit">Search</button>
            </form>
        </div>
        </div>
    </nav>
    {% block content %}
    {% endblock %}
</body>

</html>