<!doctype html>
<html lang="en">

<head>
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <title>Personal Assistant</title>
    <link href="https://cdn.jsdelivr.net/npm/bootstrap@5.3.0/dist/css/bootstrap.min.css" rel="stylesheet"
        integrity="sha384-9ndCyUaIbzAi2FUVXJi0CjmCapSmO7SnpJef0486qhLnuZ2cdeRhO02iuK6FUUVM" crossorigin="anonymous">
</head>

<body>
    <div class="row header-box ms-3 mt-3">
        <div class="col-md-8">
            <p>
                <a href="{% url 'file_app:files' %}" type="button" class="btn btn-primary">Files</a>
            </p>
        </div>
    </div>
    <form method="post" enctype="multipart/form-data">
        {% csrf_token %}
        <div class="input-group ms-3 mt-3 w-25">
            {{form.file}}
            <button class="btn btn-outline-secondary" type="submit" id="inputGroupFileAddon04">Upload</button>
        </div>
    </form>
</body>

</html>