{% extends "app/base.html" %}

{% block content %}
<style>
  .card-container {
    display: flex;
    justify-content: center;
    align-items: center;
    height: 80vh;
    width: 130vh;/* Это позволит центрировать по вертикали */
  }

  .card-body {
    width: 52rem;
  }

  .card-text-wrapper {
    width: 50rem; /* Задаем фиксированную ширину для поля */
    max-height: 400px; /* Задаем максимальную высоту для поля */
    overflow: auto; /* Добавляем прокрутку, если текст превышает установленную высоту */
    border: 1px solid #ccc; /* Опционально: добавляем границу для поля */
    scrollbar-width: thin; /* Тонкий скроллбар (для Firefox) */
    scrollbar-color: rgba(0, 0, 0, 0.2) transparent;
    background-color: #f0f0f0; /* Светло-серый цвет фона */
  }

  .card-text-wrapper::-webkit-scrollbar {
    width: 6px; /* Ширина тонкого скроллбара */
  }

  .card-text-wrapper::-webkit-scrollbar-thumb {
    background-color: rgba(0, 0, 0, 0.2); /* Цвет скроллбара */
    border-radius: 3px; /* Округление углов скроллбара */
  }

  .card-text-wrapper::-webkit-scrollbar-track {
    background-color: transparent;
  }

</style>

<div class="card-container">
  <div class="card" style="width: 18rem;">
    <div class="card-body" style="background-color: #f0f0f0;">
      <h5 class="card-title">{{ object.title }}</h5>
      <div class="tags">
        {% for tag in object.tags.all %}
        <span>Tag: {{ tag }}</span>
        {% endfor %}
      </div>
      <div class="card-text-wrapper">
        <p class="card-text">{{ object.content }}</p>
      </div>
      <a href="{% url 'notebook:note_home' %}" class="card-link">Back</a>
    </div>
  </div>
</div>
{% endblock %}
