{% extends "app/base.html" %}

{% block content %}
{% load static %}
<style>
    a {
        color: #090909;
        text-decoration: none;

    }

    .centered-block {
        display: flex;
        justify-content: center;
    }

    .w-75 {
        width: 75%;
    }

    .w-50 {
        width: 50%;
    }

    .cards-container {
        display: flex;
        flex-wrap: wrap;
        justify-content: center;
        gap: 20px;
        margin-top: 81px;
        overflow-y: auto;
        max-height: 500px;
        margin-right: -500px;
    }

    .card-container2 {
        flex: 0 0 calc(33.3333% - 20px);

    }

    .card .button-container {
        display: block;
        justify-content: center;
    }

    .card .button-container button {
        width: 150px;
        height: 25px;
        margin: 0 auto 20px;
        padding: 8px 25px;
        border-radius: 8px;
        border: none;
        background: #cec7c7;
        color: #050505;
        font-weight: 600;
        cursor: pointer;
        transition: .3s ease;
    }

    .card {
        width: 230px;
        height: 350px;
        background: #78757e;
        border-radius: 15px;
        box-shadow: 0 5px 15px rgba(0, 0, 0, 0.3);
        color: #ffffff;
        display: flex;
        flex-direction: column;
        justify-content: space-between;
        padding: 15px;
        margin: 20px;
    }

    .card span {
        font-weight: 600;
        font-size: 16px;
    }

    .card .job {
        font-weight: 400;
        font-size: 12px;
        word-wrap: break-word;
        max-height: 100px;
    }

    .card .scrollable::-webkit-scrollbar {
        width: 3px;
    }

    .card .scrollable::-webkit-scrollbar-track {
        background-color: transparent;
    }

    .card .scrollable::-webkit-scrollbar-thumb {
        background-color: #888787;
        border-radius: 10px;
    }

    .card .scrollable {
        scrollbar-width: thin;
        overflow: auto;
    }

    .card button {
       padding: 8px 25px;
       border-radius: 8px;
       border: none;
       margin-top: 13px;
       background: #cec7c7;
       color: #050505;
       font-weight: 600;
       cursor: pointer;
       transition: .3s ease;
    }

.card button:hover {
        background: #333;
    }
.justify-content-center {
    justify-content: center!important;
    margin-top: -180px;
}

.input-group>.form-control, .input-group>.form-floating, .input-group>.form-select {
    position: relative;
    flex: 1 1 auto;
    width: 1%;
    min-width: 0;
    height: 50px;
    margin-top: 14px;
}

.input-group .btn {
    position: relative;
    z-index: 2;
    height: 50px;
    margin-top: 14px;
}

.input-group-append2 .btn {
    position: relative;
    z-index: 2;
    height: 50px;
    margin-top: 14px;
    padding-top: 12px;
    background-color: darkgray;
}




</style>
<main>
    <div class="button2">
        <button><a href="{% url 'notebook:add_note' %}" role="button">Add note</a></button>
        <button><a href="{% url 'notebook:add_tag' %}" role="button">Add tag</a></button>
        <button><a href="/" role="button">Home</a></button>
    </div>
    <div class="d-flex justify-content-center">
        <form class="w-50">
            <div class="input-group">
                <input name="q" type="text" class="form-control input-sm"
                       placeholder="Search for..."
                       value="{{ request.GET.q }}">
                <div class="input-group-append">
                    <button class="btn btn-secondary" title="Search">Search
                    </button>
                </div>
                <div class="input-group-append2">
                    <a href="{% url 'notebook:note_home' %}"
                       class="btn btn-dark" title="Refresh">Reset</a>
                </div>
            </div>
        </form>
    </div>
    {% if selected_tag %}
    {% endif %}
    <form class="centered-block w-75">
        <div class="cards-container">
            {% for i in object_list %}
            <div class="card-container2">
                <div class="card">
                    <div class="card-border-top"></div>
                    <span>{{ i.title }}</span>
                    <p class="job scrollable">{{ i.content }}</p>

                    {% for tag in i.tags.all %}
                    <p class="job">
                        <a href="{% url 'notebook:note_home' %}?tag={{ tag.name }}">{{ tag.name }}</a>
                    </p>
                    {% endfor %}
                    <div class="button-container">
                        <button><a href="{% url 'notebook:note_detail' i.pk %}">About</a></button>
                        <button><a href="{% url 'notebook:edit_note' i.pk %}">Edit</a></button>
                        <a href="#"
                           onclick="deleteObject('{{ i.pk }}')"
                           role="button">
                            <button> Delete</button>
                        </a>
                    </div>
                </div>
            </div>
            {% endfor %}
        </div>
    </form>
</main>
<script>
    function deleteObject(pk) {
        if (confirm("Are you sure you want to delete this object?")) {
            fetch(`/notebook/delete/${pk}`, {
                method: "POST",
                headers: { "X-CSRFToken": "{{ csrf_token }}" }
            })
            .then(response => {
                if (response.status === 204) {
                    location.reload();
                    location.reload();
                } else {
                    alert("Failed to delete the object.");
                }
            })
            .catch(error => {
                console.error("Error occurred while deleting the object:", error);
                alert("An error occurred while deleting the object.");
            });
        }
    }
</script>
{% endblock %}
